
.hero {
  width: 100%;
}

.hero .title{
  color: red;
  text-align: center;
  margin-top: 3rem;
}


.hero-swiper {

}

.hero-swiper-slide {
  width: 100%;

  text-align: center;
  /*font-size: 18px;*/
  //background: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;

  //border: 1px solid red;
}


.hero_swiper_item{
  position: relative;
  height: 100%;
  width: 100%;

  /*border: 5px solid yellow;*/
}

.hero_swiper_item::after{
  content: '';
  position: absolute;
  display: block;
  inset: 0;
  background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
}

.hero_swiper_item img{
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  grid-column: span 2;
  height: 60vmax;
}

.hero_swiper_item .text{
  position: absolute;
  width: 100%;
  bottom: 3rem;
  color: white;
  z-index: 2;

  //border: 1px solid red;
}


.hero-swiper .swiper-scrollbar-drag{
  background-color: red;
}


footer.home_footer{

  .footer_btn{
    position: fixed;
    bottom: 0;
    width: calc(100%);
    background-color: white;
    padding: 1.5rem;

    //max-width: 100%;
    transform: translateX(-1rem);


    button{
      background-color: red;
      border-radius: .3rem;
      width: 100%;
      margin: 0;
      border: none;
      color: white;
      font-size: 1.5rem;
      padding: 1.3rem;
    }
  }
}


.nav_menu{
  position: fixed;
  top: 0;
  width: 100%;
  padding: .6rem 0;
  //border: 1px solid red;
  transform: translateX(-1rem);
  z-index: 11;

  box-sizing: content-box;

  //border: 1px solid red;
  background-color: white;;


  .nav_menu_btn{
    background-color: transparent;
    border: none;
    transform: scale(1.5);
    margin: 1rem 0 1rem .7rem;
  }

  .nav_slider{
    //display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    background-color: #eeeded;
    width: 80%;

    transform: translateX(-101%);

  }

}

.nav_slider header{
  display: flex;
  align-items: center;
  gap: 1.3rem;
  background-color: lightgray;
  padding: 1rem .3rem;

}

.nav_slider header button{
  border: none;
  background-color: transparent;
  padding: 1rem;

}

.nav_menu_list{
  //list-style: none;
  //padding-left: 0;
  padding: 0 2rem;
}

.nav_menu_list li{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .7rem 0;
  font-size: 1.2rem;
}

.nav_menu_list p{
  margin-right: auto;
}


