.others {
  margin-top: 5rem;
}
.others header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.others_swiper {
  overflow-x: scroll;
  width: calc(100% + 2rem);
  transform: translateX(-1rem);
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.others_swiper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.others_swiper::-webkit-scrollbar-track {
  background: transparent;
}
.others_swiper::-webkit-scrollbar-thumb {
  background: transparent;
}
.others_swiper::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.others_swiper_wrapper {
  display: flex;
  gap: 1.5rem;
}
.others_swiper_slide {
  flex-shrink: 0;
  width: 70vw !important;
  margin: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  overflow: hidden;
}
.others .card {
  width: 100%;
}
.others .card .thumbnail {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.others .card .thumbnail img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 20vmax;
  grid-column: 1;
  grid-row: 1;
}
.others .card .thumbnail .time {
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  justify-self: end;
  color: white;
  padding: 1rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.29);
}
.others .card .text {
  padding: 1.2rem;
}
.others .card .text .card_title {
  font-size: 1.3rem;
  margin-top: 0;
  font-weight: 600;
}
.others .card .text .info {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: darkgray;
}
.others .card .price {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem;
  border-top: 1px solid lightgray;
}
.others .card .price * {
  margin: 0;
}
.others .card .price .discount {
  color: darkgray;
  text-decoration: line-through;
}

